**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.java
src/java/com/dma/controllers/DeleteMemberController.java
!/src/java/com/dma/controllers/EditUserController.java
!/src/java/com/dma/controllers/EditErrorController.java